<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a> 
        || 
        <a href="/flights/new">New Flight</a> 
        || 
        <a href="/flights">All Flights</a>
    </nav>
    <br><br><h2>Tickets</h2>
    <form id="add-ticket-form" method="POST"
      action="/flights/<%= flightId %>/tickets">
      <label>Price:
        <select name="currency">
          <option value="usd">$</option>
          <option value="ukpound">£</option>
          <option value="euro">€</option>
        </select>
        <input name="price" type="number" min="1" step="any" />
      </label>
      <label>Seat:
        <input name="seat" required pattern="[A-F][1-9]\d?">
      </label>
      <input type="submit" value="Add Ticket">
    </form>
</body>
</html>