<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Flights</h1>
    <a href="/flights/new">Add A New Flight</a> | 
    <a href="/flights">All Flights</a>
  </body>
</html>
